# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env/
.venv/
env/
venv/

# Jupyter Notebook
.ipynb_checkpoints/

# IDE and OS-specific files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Test/Log outputs
*.log
*.sqlite3
coverage/

# Distribution / packaging
build/
dist/
*.egg-info/
